/**
 * State Updates
 * 
 * Show/Hide elements based on the current compressor state.
 */

/* Only visible when an ancestor has the run penging class */
.run_request .visibleWhenRunPending {
    display: inline;
}
/* Only visible when an ancestor has the running class */
.compressor_motor_running .visibleWhenRunning {
    display: inline;
}
/* Hidden when an ancestor has the running class */
.compressor_motor_running .hiddenWhenRunning, .run_request .hiddenWhenRunning {
    display: none;
}
/* Only visible when an ancestor has the compressor on class */
.compressor_on .visibleWhenOn {
    display: inline;
}
/* Hidden when an ancestor has the compressor on class */
.compressor_on .hiddenWhenOn {
    display: none;
}
/* Only visible when an ancestor has the purge pending class */
.purge_pending .visibleWhenPurgePending {
    display: inline;
}
/* Only visible when an ancestor has the purge open class */
.purge_open .visibleWhenPurging {
    display: inline;
}
/* Hidden when an ancestor has the purge open or purge pending class */
.purge_open .hiddenWhenPurging, .purge_pending .hiddenWhenPurging {
    display: none;
}
/* Only visible when an ancestor has the error class */
.compressor_error .visibleWhenCompressorError {
    display: inline;
}
/* If an ancestor is in the undefined_state then all invisible children are visible */
.undefined_state .visibleWhenRunPending,
.undefined_state .visibleWhenRunning,
.undefined_state .visibleWhenOn,
.undefined_state .visibleWhenPurgePending,
.undefined_state .visibleWhenPurging {
    display: inline;
}

/**
 * Visual Styles
 */

/* Compressor errors are in large red text */
.visibleWhenCompressorError {
    color: red;
    font-size: large;
}

#duty_10, #duty_60 {
    --border-thickness: 7px;
    --width: 75px;
    --main-color: AliceBlue;
}
#duty_10 + label, #duty_60 + label {
    display: block;
    color: #bde0ff;
    font-size: small;
    text-align: center;
}
#tank_pressure + label, #line_pressure + label {
    display: block;
    color: #bde0ff;
    font-size: medium;
    text-align: center;
}
td > #tank_pressure, td > #line_pressure, td > #duty_10, td > #duty_60 {
    margin-left: auto;
    margin-right: auto;
}

/**
 * Status lights
 */

div#power_light, div#run_light {
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
}

/* Power light is green when on, red when off */
/* From https://codersblock.com/blog/creating-glow-effects-with-css/ */
div#power_light {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fdd;    
    box-shadow:
        0 0 7px 3px #fff,  /* inner white */
        0 0 10px 5px #f00  /* red */
}
.compressor_on div#power_light {
    background-color: #dfd;    
    box-shadow:
        0 0 7px 3px #fff,  /* inner white */
        0 0 10px 5px #0f0  /* green */
}

/* Run light is blue when on, amber when purging, grey when off */

/* For motor running or run request pending set the light to blue */
.compressor_motor_running div#run_light, .run_request div#run_light {
    background-color: #ddf;    
    box-shadow:
        0 0 7px 3px #fff,  /* inner white */
        0 0 10px 5px #00f  /* blue */
}
/* For purging or purge pending set the light to amber */
.purge_open div#run_light, .purge_pending div#run_light {
    background-color: #fff;    
    box-shadow:
        0 0 7px 3px #fff,     /* inner white */
        0 0 10px 5px #ffbf00  /* amber */
}
/* If either of the pending modes are active, blink the run light */
.purge_pending div#run_light, .run_request div#run_light {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
