/**
 * State Updates
 * 
 * Show/Hide elements based on the current compressor state.
 */

/**
 * When a new compressor state is received the class list of all elements that
 * have a class of 'undefined_state' will be updated with 'state classes'. The 
 * following selectors allow child elements of the state containers to be shown 
 * or hidden based on these classes. If the javascript has not run and the state
 * container still has the 'undefined_state' then all hidden elements will be
 * visible.
 *
 * visibleWhenRunPending: Only visible when an ancestor has the run penging class
 * visibleWhenRunning: Only visible when an ancestor has the running class
 * hiddenWhenRunning: Hidden when an ancestor has the running class
 * visibleWhenOn: Only visible when an ancestor has the compressor on class
 * hiddenWhenOn: Hidden when an ancestor has the compressor on class
 * visibleWhenPurgePending: Only visible when an ancestor has the purge pending class
 * visibleWhenPurging: Only visible when an ancestor has the purge open class
 * hiddenWhenPurging: Hidden when an ancestor has the purge open or purge pending class
 * visibleWhenCompressorError: Only visible when an ancestor has the error class
 * visibleWhenSensorError: Only visible when an ancestor has the sensor error class
 * visibleWhenDutyBlocked: Only visible when an ancestor has the motor_state_duty class
 */

.motor_state_run .hiddenWhenRunning, .run_request .hiddenWhenRunning,
.compressor_on .hiddenWhenOn,
.purge_open .hiddenWhenPurging, .purge_pending .hiddenWhenPurging {
    display: none;
}

.run_request .visibleWhenRunPending,
.motor_state_run .visibleWhenRunning,
.compressor_on .visibleWhenOn,
.purge_pending .visibleWhenPurgePending ,
.purge_open .visibleWhenPurging,
.motor_state_duty .visibleWhenDutyBlocked,
.pause_command_available .visibleWhenPauseAvailable,
.run_command_available .visibleWhenRunAvailable,
.motor_state_sensor_error .visibleWhenSensorError,
.compressor_error .visibleWhenCompressorError {
    display: inline;
}

.motor_state_duty TR.visibleWhenDutyBlocked,
.compressor_on TR.visibleWhenOn {
    display: table-row;
}

.undefined_state .visibleWhenRunPending,
.undefined_state .visibleWhenRunning,
.undefined_state .visibleWhenOn,
.undefined_state .visibleWhenPurgePending,
.undefined_state .visibleWhenPurging,
.undefined_state .visibleWhenPauseAvailable,
.undefined_state .visibleWhenRunAvailable,
.undefined_state .visibleWhenUndefined {
    display: inline;
}

/**
 * Layout
 */
 
#compressorTimelineContainer {
    float: right;
    width: 65%;
    aspect-ratio: 3/2;
}
#gauges {
    width: 400px;
    float: left;
}
#tankPressure, #linePressure {
    width: 200px;
    height: 200px;
    float: left;
}
#duty {
    width: 100px;
    height: 100px;
    position: relative;
    top: -38px;
    margin: 0 auto;
    width: 100px;
    display: block;
}

/**
 * Visual Styles
 */
#gauges, .smallInformation {
    color: #536878;
    font-size: small;
}
#gauges > * {
    text-align: center;
}

/* Errors are in large red text */
.visibleWhenCompressorError, .visibleWhenSensorError {
    color: red;
    font-size: large;
}
/**
 * Status lights
 *
 * - power_light is green when on, red when off
 * - run_light is blue when on, amber when purging, grey when off. Flashes for pending actions
 * - pressure_warning is on when the motor is not running because the duty cycle has been exceeded,
 *                    or when tank_underpressure or line_underpressure is true.
 */

div#power_light, div#run_light, div#pressure_warning {
    display: inline-block;
    margin-right: 6px;
    margin-left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ddd;
}


/* From https://codersblock.com/blog/creating-glow-effects-with-css/ */
div#power_light,
.motor_state_duty div#pressure_warning,
.tank_underpressure div#pressure_warning,
.line_underpressure div#pressure_warning {
    background-color: #fdd;    
    box-shadow:
        0 0 7px 3px #fff,  /* inner white */
        0 0 10px 5px #f00  /* red */
}
.compressor_on div#power_light {
    background-color: #dfd;    
    box-shadow:
        0 0 7px 3px #fff,  /* inner white */
        0 0 10px 5px #0f0  /* green */
}

/* For motor running or run request pending set the light to blue */
.motor_state_run div#run_light, .run_request div#run_light {
    background-color: #ddf;    
    box-shadow:
        0 0 7px 3px #fff,  /* inner white */
        0 0 10px 5px #00f  /* blue */
}
/* For purging or purge pending set the light to amber */
.purge_open div#run_light, .purge_pending div#run_light {
    background-color: #fff;    
    box-shadow:
        0 0 7px 3px #fff,     /* inner white */
        0 0 10px 5px #ffbf00  /* amber */
}
/* If either of the pending modes are active, blink the run light */
.purge_pending div#run_light,
.run_request div#run_light,
.motor_state_duty div#pressure_warning {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
